<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
    <script src="https://kit.fontawesome.com/595f6c2a2c.js" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
</head>

<body id="master">
    <nav class="content navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">FaW</a>
        
    
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                
                <li class="nav-item">
                    <a class="nav-link light-theme-mode" href="#"><i class="fa fa-sun-o" aria-hidden="true"></i>
</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dark-theme-mode" href="#"><i class="fa fa-moon-o" aria-hidden="true"></i>
</a>
                </li>
                <li class="nav-item" href="#">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item" href="/about">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
            </ul>
        </div>
    </nav>

<section id="header" class="jumbotron text-center">
    <div>
        <h1 class="display-3">Fit At Work</h1>
        <p>The app that'll save your back</p>
    </div>
</section>

<div class="container">
    <div class="content">
        <p>"The last couple of months have been CRAZY...So, I stopped taking breaks because I thought I could get MORE done. The problem? My productivity completely tanked." </p>
        <h6>Sounds familiar? This problem is faced by almost everyone on daily basis!</h6>
        <h6>We were shocked to know how much productivity actually goes down if proper breaks are not taken. 
            Taking a break becomes more essential when the major part of their work involves working on screen and more often then not people sit continuously on their desk for a stretch of 2-3 hours.
            Research shows that the attention span of an average human is somewhere between 15-20 minutes. Shocking right? Because we were definately shocked. We also found that in a day where people work for 8-9 hours only about 3 hours time is the time which is spend productively.
            We also came across several articles that stated that breaks are essential for any person to be productive. We need to give ore brains time to rest.</h6>
            
            <h6>An article in New York Times wrote: </h6>
            <p class="one">A new and growing body of multidisciplinary research shows that strategic renewal — including daytime workouts, short afternoon naps, longer sleep hours, more time away from the office and longer, more frequent vacations — boosts productivity, job performance and, of course, health.</p>
            
            <h6>But ! It is essential that you take the right kind of breaks. They must not last over more than 5-10 minutes because that distracts the brain from the work a little too much. </h6>
            <h6>Some of the benefits we found about breaks are:</h6>
            <h7>
                <ul>
                    <li>Taking regular breaks will help you make better decisions</li>
                    <li>Breaks spark creative ideas and new solutions</li>
                    <li>Taking breaks helps you stay focused over long periods of time</li>
                    <li>Taking short breaks every now and then help you re-focus on your big-picture goals.</li>
                </ul>
            </h6>
            
            <h6>This is what drove us to make this platform. It allows you to set a time yourself in which WE work to remind you to take a break! We remind you to drink water in regular intervals, stretch a little, walk around a little. And it is not just limited to that! We also very much understand that people are sometimes in important meetings or have something extra important and in these crucial times they do not want to be interrupted. In that case all you have to do is turn off the timer and we wont bother you!</h6>
            
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
    const LightButton = document.querySelector('.light-theme-mode');
    const DarkButton = document.querySelector('.dark-theme-mode');
    const body = document.body;
    const theme = localStorage.getItem('theme');
    if(theme){
        body.classList.add(theme);
    }
    
    
    LightButton.addEventListener('click', () => {
        body.classList.replace('dark', 'light');
        localStorage.setItem('theme', 'light');
    });
    
    DarkButton.addEventListener('click', ()=> {
        body.classList.replace('light', 'dark');
        localStorage.setItem('theme', 'dark');
    });
</script>
</html>