<%- include('partials/header'); -%>

<link rel="stylesheet" href="/stylesheets/landing.css">
<header id="landing-header">
  <h1>Welcome to Fit at Work</h1>
  <a href="/auth/google" class="btn btn-lg btn-success">Get Started</a>
  <!-- <a href="/logout" class="btn btn-lg btn-success">Log Out</a>
  <a href="/auth/google" class="btn btn-lg btn-success">Sign In with Google</a> -->
</header>

<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
</ul>

<%- include('partials/footer'); -%>