<%- include('partials/header'); -%>

<link rel="stylesheet" href="/stylesheets/landing.css">
<header id="landing-header">
  <h1>Welcome to Fit at Work</h1>
  <a href="/auth/google" class="btn btn-lg btn-success">Get Started</a>
  <a href="/about" class="btn btn-lg btn-warning">What's this all about?</a>

</header>

<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
</ul>

<%- include('partials/footer'); -%>