#header {
    background-color: #ee4540;
}
#one{
    color: white;
}

#bg .darkmode-background{
	background-color: #2d132c;
}

.content{
	color: white;
}

.one{
	border-left: 5px solid #ee4540;
	padding-left: 5px;
	margin-top: 1rem;
}

.h5{
	margin-bottom: 20px;
}